/*
page entière marge et font
*/
:root
{
    font-family: raleway;/*définir la font demander*/
  
}
/*taille mise en forme des titre principaux*/
h1{
    font-size: 15px;
    margin: 0px;/*annuler les marge automatiques*/
    font-weight: bold;
}
/*taille mise en forme des paragraphe*/
p
{
    font-size: 10px;
    margin: 0px;/*annuler les marge automatiques*/
}
a:hover
{
    color: #0065fc;
       border: solid 1px rgb(183, 0, 255);
       border-radius: 5px;
}
#infos>i{
height: 10px;
width: 10px;
text-align: center;
line-height: 10px;
}